# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,ansible

### Ansible ###
*.retry

### VisualStudioCode ###
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,ansible

# Ansible work directory
.ansible/*

# Bash files
.bash*

# Python Wheels and Source packages
*.tar.gz
*.whl
